<%- include('partials/header') %>
<main class="realizations">
    <h1 class="title">RÉALISATIONS</h1>
    <div class="grid grid-3">
        <% for(const realization of realizations){ %> 
            <div class="grid__items">
                <a class="grid__link" href="/realizations/<%= realization.id %> ">
                    <div class="grid__titleContainer">
                        <h4 class="grid__title"><%= realization.title %> </h4>
                    </div>
                    <img class="grid__img" src="<%= realization.mainImage.link %> " alt="<%= realization.mainImage.title %>">
                </a>
            </div>
        <% } %> 
        <%# Image de cloture %> 
        <div class="grid__items">
            <% if(locals.user){ %> 
                <img class="grid__img" src="/img/realizations/LOGO.jpg" alt="Logo CR">
            <% }else{ %>
                <a href="/realizations/add">
                    <img class="grid__img" src="/img/realizations/addButton.png" alt="Logo CR">
                </a>
            <% } %> 
        </div>
    </div>
</main>
<%- include('partials/footer') %>